%h1 Hey you!
%form{:method => 'post'}
  - unless @entry.errors.empty?
    = partial(:errors, :locals => {'errors' => @entry.errors})
  %input{:name => 'str',:type => 'text', :value => @entry.str, :onclick => 'this.value="";'}
  %button Speak!
