-unless @queue_entries.empty?
  -if (params[:old] && !params[:old].eql?('false'))
    %h1 list of published entries
  -else
    %h1 List of unpublished entries
  %ul
    -@queue_entries.each do |entry|
      %li
        = "#{entry.created_at.strftime("%Y/%m/%d %H:%M")} |"
        %span.highlight=entry.str

  %p
    total of
    %span.highlight=@queue_entries.size
    entries
%a{:href => "/"} back
