body
  font-family: "Trebuchet MS", Helvetica, Arial, Sans, sans-serif
  margin: 20px auto
  width: 900px
  background: black
  color: white

body, input, button
  font-size: 30px

input
  background: black
  color: white
  border: 3px solid #ccc
  color: #ff0
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  border-radius: 4px
input, button
  padding: 3px

a
  color: #eee
.highlight
  color: #ff0
